<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Pets list</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body class="bg-light">
    <div class="container">
      <div class="py-5 text-center">
        <h2>Pets</h2>
      </div>

      <div class="row h-100">
        <a routerLink="/add" class="btn btn-primary">Add pet</a>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Code</th>
              <th scope="col">Type</th>
              <th scope="col">Fur color</th>
              <th scope="col">Country</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pet of pets">
              <th scope="row">{{ pet.id }}</th>
              <td>{{ pet.name }}</td>
              <td>{{ pet.code }}</td>
              <td>{{ pet.type }}</td>
              <td>{{ pet.furcolor }}</td>
              <td>{{ pet.country }}</td>
              <td>
                <button
                  routerLink="/add"
                  [queryParams]="{ id: pet.id }"
                  class="btn btn-primary"
                  type="button"
                >
                  Edit pet
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2022 Wisercat</p>
    </footer>
  </body>
</html>
